
modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "NODE_ENV=production node server.js"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 3004
externalPort = 3004

[[ports]]
localPort = 3005
externalPort = 4200

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 36466775
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
